<div class="container-fluid" *ngIf="cargar&&summoner.username!='error'">
    <br>
    <div class="row infoSummoner align-items-center">
        <div class="col-lg-2 col-12 celda">
            <div class="img">
                <img class="imgPerfil" src="http://ddragon.leagueoflegends.com/cdn/11.2.1/img/profileicon/{{summoner.img}}.png"/>
                <br>
                <div class="lvlSummoner">
                    <h4>{{summoner.lvl}}</h4>
                </div>
            </div>
            <h1 class="mt-2">{{summoner.username}}</h1>
            <br><br>
        </div>
        <div class="col-lg-4 col-6 liga queue celda" *ngFor="let tier of leagues; index as i">
            <h4 *ngIf="i==0">SOLO QUEUE</h4>
            <h4 *ngIf="i==1">FLEX QUEUE</h4>
            <img class="imgLiga" src="../../../assets/ranks/{{tier.tier.toLowerCase()}}.png"><br>
            {{tier.tier}} {{tier.rank}}<br>
            {{tier.leaguePoints}} LP<br>
            {{tier.wins}}W / {{tier.losses}}L  | {{((tier.wins*100)/(tier.wins+tier.losses)).toFixed()}}% |
        </div>
    </div>
    <br>
    <br>
    <h3 class="textoPartidas mb-20">PARTIDAS</h3><br>
    <div class="row">
        <div class="col-12 col-lg-10 partida" *ngFor="let match of matches">
            <div class="row winDiv align-items-center" *ngIf="match.stats.playerStats.win">
                <div class="col-lg-2 col-3">
                    <a [routerLink]="['/champion',match.champion.id]"><img src="{{match.champion.img}}" class="champImg"></a>
                </div>
                <div class="col-lg-2 col-1">
                    <div class="kda">
                        <h6>{{match.stats.playerStats.kills}}/{{match.stats.playerStats.deaths}}/{{match.stats.playerStats.assists}}</h6>
                    </div>
                </div>
                <div class="col-lg-8 col build">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item0}}.png" class="itemImg"
                        *ngIf="match.stats.playerStats.items.item0">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item1}}.png" class="itemImg"
                            *ngIf="match.stats.playerStats.items.item1">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item2}}.png" class="itemImg"
                            *ngIf="match.stats.playerStats.items.item2">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item3}}.png" class="itemImg"
                            *ngIf="match.stats.playerStats.items.item3">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item4}}.png" class="itemImg"
                            *ngIf="match.stats.playerStats.items.item4">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item5}}.png" class="itemImg"
                            *ngIf="match.stats.playerStats.items.item5">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item6}}.png" class="itemImg"
                            *ngIf="match.stats.playerStats.items.item6">
                </div>
            </div>
            <div class="row loseDiv align-items-center" *ngIf="!match.stats.playerStats.win">
                <div class="col-lg-2 col-3">
                    <a [routerLink]="['/champion',match.champion.id]"><img src="{{match.champion.img}}" class="champImg"></a>
                </div>
                <div class="col-lg-2 col-1 kda">
                    <h6>{{match.stats.playerStats.kills}}/{{match.stats.playerStats.deaths}}/{{match.stats.playerStats.assists}}</h6>
                </div>
                <div class="col-lg-8 col build">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item0}}.png" class="itemImg"
                        *ngIf="match.stats.playerStats.items.item0">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item1}}.png" class="itemImg"
                            *ngIf="match.stats.playerStats.items.item1">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item2}}.png" class="itemImg"
                            *ngIf="match.stats.playerStats.items.item2">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item3}}.png" class="itemImg"
                            *ngIf="match.stats.playerStats.items.item3">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item4}}.png" class="itemImg"
                            *ngIf="match.stats.playerStats.items.item4">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item5}}.png" class="itemImg"
                            *ngIf="match.stats.playerStats.items.item5">
                        <img src="http://ddragon.leagueoflegends.com/cdn/11.3.1/img/item/{{match.stats.playerStats.items.item6}}.png" class="itemImg"
                            *ngIf="match.stats.playerStats.items.item6">
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="container-fluid" *ngIf="summoner.username=='error'">
    <h1>NO EXISTE NINGUN INVOCADOR CON ESTE NOMBRE EN ESTE SERVIDOR</h1>
</div>
<app-loading *ngIf="!cargar"></app-loading>


