.navClass{
    top:0;
    position: sticky;
    z-index:1;
    border-bottom:1px solid #000000;
    background-color:#001b22;
    height:75px;    
    
}

.element{
    border:1px solid red;
}

    .enlacePrincipal{
        text-decoration: none;
        color:#f3f3f3;
        text-decoration: none;
        letter-spacing: 3px;
        font-family:"titulos";
        transition:.5s;
    }

    h1{
        padding-top:10px;
    }

    .buscador{

    }