.cajaPrincipal{
    text-align: center;
    color:aqua;
}

.abilityImg{
    width:75px;
    height:75px;
    cursor:pointer;
    border:1px solid cyan;
    margin:auto;
}

.carrusel{
    z-index: 0;
    cursor:pointer;
    width:100%;
}

.carruselImg{
    width:81%;
}

.textosSkins{
    color:rgb(255, 255, 255);
    border:1px solid black;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0, 195, 255, 0.849);
    margin:auto;
}

.statsss {
    height:550px;
    margin-bottom: 40px;
}

.abilities{

}

.imgStats{
    width:105%;
    height:100%;
    margin:auto;
}

.divStat2{
    padding-top:5px;
    height:100%;
    width:100%;
    overflow: scroll;
    overflow-x: hidden;
}

.tablaStats{
    width:100%;
    height:80%;
}

.divStat2::-webkit-scrollbar{
    width:12px;
}

.divStat2::-webkit-scrollbar-thumb {
    background-color:#00ffff;
    border-radius: 20px;
    border: 2px solid black;
}

.descAb{
    text-align:center;
    margin:auto;
    border:1px solid green;
}

.tablaCostes{
    text-align:center;
    height:80%;
    margin:auto;
}

.abilityDesc{
    text-align:justify;
}

.tituloAb{
    border:1px solid yellow;
    height:5%;
}

.ab{
    border:1px solid red;
}
.ab1{
    margin-top:0px;
    height:75px;
    border:1px solid blue;
}