.cajaPrincipal{
    text-align: center;
    color:aqua;
}

.carrusel{
    z-index: 0;
    cursor:pointer;
    width:100%;
}

.carruselImg{
    width:81%;
}

.textosSkins{
    color:rgb(255, 255, 255);
    border:1px solid black;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0, 195, 255, 0.849);
    margin:auto;
}

.info{
    height:650px;
}

    .descAb{
        text-align:center;
    }

    .tablaCostes{
        text-align:center;
        height:80%;
        margin:auto;
    }

    .abilityImg{
        width:75px;
        height:75px;
        cursor:pointer;
        border:1px solid cyan;
        margin:auto;
    }

    .abilityDesc{
        text-align:justify;
    }

    .tituloAb{
        text-align:center;
    }

    .imgStats{
        margin:auto;
    }

    .tablaStats{
        margin:auto;
        width:100%;
        border:1px solid cyan;
        border-radius: 50px 50px 50px 50px;
    }

    /*.divStats2{
        overflow:scroll;
        overflow-x: hidden;
    }

    .divStat2::-webkit-scrollbar{
        width:12px;
    }

    .divStat2::-webkit-scrollbar-thumb {
        background-color:#00ffff;
        border-radius: 20px;
        border: 2px solid black;
    }*/



