<div class="cajaPrincipal container-fluid">
    <ngb-carousel class="carrusel">
        <ng-template ngbSlide="ngbSlide" *ngFor="let skin of champ.skins">
            <div class="carousel-caption textos">
                <h4 class="textosSkins" *ngIf="skin.name=='default'">{{champ.name}}</h4>
                <h4 class="textosSkins" *ngIf="skin.name!='default'">{{skin.name}}</h4>
            </div>
          <div class="picsum-img-wrapper imgg">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champ.id}}_{{skin.num}}.jpg" class="carruselImg" alt="skin 1">
          </div>
        </ng-template>
    </ngb-carousel>
    <br>  
    <h4>LORE</h4>
    <p class="lore">{{champ.lore}}</p>
    <br>
    <div class="row info">
        <div class="col-lg-7 col-12 abilities">
            <h4 class="tituloAb">HABILIDADES</h4>
            <br>
            <div class="col-12 row">
                <div class="col-4">
                    <img src="http://ddragon.leagueoflegends.com/cdn/11.2.1/img/passive/{{champ.passive.image.full}}" (click)="changeAbility()" class="abilityImg">
                </div>
                <div class="col-2" *ngFor="let ability of champ.spells, index as i" >
                    <img src="http://ddragon.leagueoflegends.com/cdn/11.2.1/img/spell/{{ability.image.full}}" (click)="changeAbility(i)" class="abilityImg">
                </div>
            </div>
            <div class="col-12 descAb">
                <br>
                <br>
                <h4>
                    <span *ngIf="indexAb==5">Pasiva - </span>
                    <span *ngIf="indexAb==0">Q - </span>
                    <span *ngIf="indexAb==1">W - </span>
                    <span *ngIf="indexAb==2">E - </span>
                    <span *ngIf="indexAb==3">R - </span>{{ability.name}}
                </h4>
                <table class="table tablaCostes">
                    <tr>
                        <td class="cel cel2" *ngIf="ability.id">
                            Coste (por nivel) -> {{ability.costBurn}}
                        </td>
                        <td class="cel cel2" *ngIf="!ability.id">
                            Coste (por nivel) -> 0
                        </td>
                        <td class="cel cel2" *ngIf="ability.id&&ability.maxrank">
                            Rango de abilidad -> {{ability.maxrank}}
                        </td>
                        <td class="cel cel2" *ngIf="ability.id&&ability.rangeBurn">
                            Rango de abilidad -> {{ability.rangeBurn}}
                        </td>
                    </tr> 
                </table>
                <br>
                <div class="abilityDesc"><p>{{ability.description}}</p></div>
            </div>
        </div>
        <div class="col-lg-5 col-12 abilities2">
            <h4 class="tituloAb">STATS</h4>
            <br>
            <div class="row stats"> 
                <div class="col-6 divStats1">
                    <img class="imgStats" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champ.id}}_0.jpg">
                </div>
                <div class="col-6 divStats2">
                    <table class="tablaStats">
                        <tr>
                            <td>Fuente</td>
                            <td>
                                - 
                            </td>
                            <td>
                                {{champ.partype}}
                            </td>
                        </tr>
                        <tr *ngFor="let stat of champ.stats | keyvalue">
                            <td>{{stat.key}}</td>
                            <td>
                                -
                            </td>
                            <td>
                                {{stat.value}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
