.cajaPrincipal{
    text-align: center;
    color:aqua;
}

.carrusel{
    z-index: 0;
    cursor:pointer;
    height:90%;
    width:100%;
}

.imgg{
    height:75%;
    width:100%;
}

.carruselImg{
    max-width: 100%;
    height: auto;
}

.textos{
    color:rgb(255, 255, 255);
    
}
.textosSkins{
    -webkit-text-stroke: 2px black;
    color:white;
    
}

.lore{
    text-align:justify;
}
    .descAb{
        text-align:center;
    }

    .tablaCostes{
        text-align:center;
        height:80%;
        margin:auto;
    }

    .abilityImg{
        width:75px;
        height:75px;
        cursor:pointer;
        border:1px solid cyan;
        margin:auto;
    }

    .abilityDesc{
        text-align:justify;
    }

    .tituloAb{
        text-align:center;
    }

    .imgStats{
        margin:auto;
        width:80%;
        height:100%;
    }

    .tablaStats{
        width:100%;
        border:1px solid cyan;
        background-color: rgba(0, 255, 255, 0.13);
    }
  


