.content{
    text-align: center;
}

.tituloPrincipal{
    text-align:center;
    margin:auto;
    color: lightblue;
}

.prueba{
    border:1px solid red;
}
.version{
    text-align:center;
    color: lightblue;
}

.iconos{
    text-align:center;
}

.iconRol{
    width:50px;
    height:50px;
    margin:auto;
}
    .iconRol:hover{
        cursor:pointer;
    }

    .rol{
        color:lightblue;
        text-align: center;
    }

.colChamp{
    height:175px;
    
}

.champLink{
    color:lightblue;
    text-decoration: none;
}
    .champLink:hover{
        color:aqua;
        text-decoration: none;
    }

.imgChamp{
    height:85px;
    width:85px;
    border:1px solid black;
}
.imgChamp:hover{
    border:1px solid blue;
}