<h1 class="tituloPrincipal pt-5 pb-5">BIENVENIDO A LEAGUE OF PROS</h1>
<h3 class="version mb-2">Versión {{version}}</h3>
<hr>
<div class="container-fluid">
    <div class="row contenidoHome">
        <div *ngFor="let item of championList | keyvalue" class="col-2 champ pt-3">
            <a [routerLink]="['/champion',item.key]" class="champLink">
                <img  class="imgChamp"
                    src="http://ddragon.leagueoflegends.com/cdn/11.2.1/img/champion/{{item.key}}.png"> 
                <h4 class="nombreChamp">{{championList[item.key].name}}</h4>
            </a>
            <br>
        </div>
    </div>
</div>

