<div class="container-fluid content" *ngIf="cargar==true">
    <h1 class="tituloPrincipal pt-5 pb-2">BIENVENIDO A LEAGUE OF PROS</h1>
    <h3 class="version mb-2">v{{version}}</h3>
    <div class="row">
        <div class="col-md-2 col-4 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Tank_icon.png" (click)="buscarChamps('Tank')"/>
        </div>
        <div class="col-md-2 col-4 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Fighter_icon.png" (click)="buscarChamps('Fighter')"/>
        </div>
        <div class="col-md-2 col-4 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Mage_icon.png" (click)="buscarChamps('Mage')"/>
        </div>
        <div class="col-md-2 col-4 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Slayer_icon.png" (click)="buscarChamps('Assassin')"/>
        </div>
        <div class="col-md-2 col-4 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Marksman_icon.png" (click)="buscarChamps('Marksman')" />
        </div>
        <div class="col-md-2 col-4 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Support_icon.png" (click)="buscarChamps('Support')"/>
        </div>
        <div class="col-12 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Fill_icon.png" (click)="buscarChamps('Fill')"/>
        </div>
        <br />
    </div>
    <div class="row">
        <div class="col-12">
            <br>
            <h2 *ngIf="mostrarChamps=='Fill'" class="rol">TODOS LOS CAMPEONES</h2>
            <h2 *ngIf="mostrarChamps=='Tank'" class="rol">TANQUES</h2>
            <h2 *ngIf="mostrarChamps=='Fighter'" class="rol">LUCHADORES</h2>
            <h2 *ngIf="mostrarChamps=='Assassin'" class="rol">ASESINOS</h2>
            <h2 *ngIf="mostrarChamps=='Mage'" class="rol">MAGOS</h2>
            <h2 *ngIf="mostrarChamps=='Marksman'" class="rol">TIRADORES</h2>
            <h2 *ngIf="mostrarChamps=='Support'" class="rol">SUPPORT</h2>
            <br>
        </div>
    </div>
    <div class="row" *ngIf="cargarGrid==true">
        <div *ngFor="let item of championList | keyvalue" class="col-4 col-md-3 col-lg-2 col-xl-1 colChamp">
            <a [routerLink]="['/champion',item.key]" class="champLink">
                <img  class="imgChamp"
                    src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{item.key}}.png"> 
                <h4 class="nombreChamp">{{championList[item.key].name}}</h4>
            </a>
        </div>
    </div>
    <app-loading *ngIf="cargarGrid==false"></app-loading>
    <br>
    <br>
    <br>
    <br>
</div>
<app-loading *ngIf="cargar==false"></app-loading>



