<h1 class="tituloPrincipal pt-5 pb-2">BIENVENIDO A LEAGUE OF PROS</h1>
<h3 class="version mb-2">v{{version}}</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-4 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Tank_icon.png" (onclick)="buscarChamps('Tank')"/>
        </div>
        <div class="col-md-2 col-4 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Fighter_icon.png" (click)="buscarChamps('Fighter')"/>
        </div>
        <div class="col-md-2 col-4 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Mage_icon.png" (click)="buscarChamps('Mage')"/>
        </div>
        <div class="col-md-2 col-4 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Slayer_icon.png" (click)="buscarChamps('Assassin')"/>
        </div>
        <div class="col-md-2 col-4 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Marksman_icon.png" (click)="buscarChamps('Marksman')" />
        </div>
        <div class="col-md-2 col-4 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Support_icon.png" (click)="buscarChamps('Support')"/>
        </div>
        <div class="col-12 iconos">
            <img class="iconRol" src="../../../assets/iconsHome/Fill_icon.png" (click)="buscarChamps('Fill')"/>
        </div>
        <br />
    </div>
    <div class="row">
        <div *ngFor="let item of championList | keyvalue" class="col-4 col-md-3 col-lg-2 col-xl-1 colchamp pt-3">
            <a [routerLink]="['/champion',item.key]" class="champLink">
                <img  class="imgChamp"
                    src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{item.key}}.png"> 
                <h4 class="nombreChamp">{{championList[item.key].name}}</h4>
            </a>
            <br>
        </div>
    </div>
    <!--<div class="row" *ngFor="let item of championList | keyvalue">
        <div class="col-4 col-md-3 col-lg-2 col-xl-1 colchamp pt-3" *ngIf="mostrarChamps!='Fill'&&(championList[item.key].tags[0]==mostrarChamps||championList[item.key].tags[1]==mostrarChamps)">
            <a [routerLink]="['/champion',item.key]" class="champLink" >
                <img  class="imgChamp"
                    src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{item.key}}.png"> 
                <h4 class="nombreChamp">{{championList[item.key].name}}</h4>
            </a>
            <br>
        </div>
    </div>-->
</div>

